# **Preprocessing**

In [ ]:
import pandas as pd, matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
# Escolher o caminho onde a base está disponível.
paradas_de_linha = pd.read_excel("/content/drive/My Drive/TEAMALERT_2020.xlsx")

In [ ]:
paradas_de_linha.head()

   ProductionOrderId            CallStartTime  ...      Type            Operation
0            9701621  2020-01-18 13:09:21.110  ...      fail  QCE_DEL.LDA1020_090
1            9701621  2020-01-20 05:11:51.987  ...      fail     TRA_X08459_000.1
2            9701621  2020-01-20 05:11:56.570  ...  operator             operator
3            9701621  2020-01-20 05:14:02.933  ...  operator             operator
4            9701621  2020-01-20 06:29:43.377  ...      fail  PCE_RASTR.MOTOR_000

[5 rows x 14 columns]

In [ ]:
paradas_de_linha.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 579237 entries, 0 to 579236
Data columns (total 14 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ProductionOrderId    579237 non-null  int64
 1   CallStartTime        579237 non-null  object
 2   CallEndTime          579085 non-null  object
 3   Time_DIFF            579085 non-null  object
 4   StopLineStartTime    579237 non-null  object
 5   StopLineEndTime      579085 non-null  object
 6   ProductionDate       579237 non-null  object
 7   StopButtonStartTime  579237 non-null  object
 8   StopButtonEndTime    579085 non-null  object
 9   StopLineCommandTime  579237 non-null  object
 10  Workplace            579237 non-null  object
 11  Type_BIN             579237 non-null  int64
 12  Type                 579237 non-null  object
 13  Operation            579237 non-null  object
dtypes: int64(2), object(12)
memory usage: 61.9+ MB

In [ ]:
paradas_de_linha.isnull().sum()

ProductionOrderId        0
CallStartTime            0
CallEndTime            152
Time_DIFF              152
StopLineStartTime        0
StopLineEndTime        152
ProductionDate           0
StopButtonStartTime      0
StopButtonEndTime      152
StopLineCommandTime      0
Workplace                0
Type_BIN                 0
Type                     0
Operation                0
dtype: int64

In [ ]:
print(paradas_de_linha.columns)
print(len(paradas_de_linha))

#paradas_de_linha.dropna(inplace=True)
#paradas_de_linha = paradas_de_linha.drop(['StopLineStartTime', 'StopLineEndTime', 'StopButtonStartTime', 'StopButtonEndTime'], axis=1)

# Abaixo, remover todas as colunas que não precisam ser mais utilizadas nesse momento, como Type, StopLineStartTime, StopLineEndTime, StopButtonStartTime...
paradas_de_linha = paradas_de_linha.drop(columns=['Type', 'StopLineStartTime', 'StopLineEndTime', 'StopButtonStartTime', 'StopButtonEndTime', 'StopLineCommandTime', 'ProductionDate'])

print(paradas_de_linha.columns)
print(len(paradas_de_linha))

Index(['ProductionOrderId', 'CallStartTime', 'CallEndTime', 'Time_DIFF',
       'StopLineStartTime', 'StopLineEndTime', 'ProductionDate',
       'StopButtonStartTime', 'StopButtonEndTime', 'StopLineCommandTime',
       'Workplace', 'Type_BIN', 'Type', 'Operation'],
      dtype='object')
579237
Index(['ProductionOrderId', 'CallStartTime', 'CallEndTime', 'Time_DIFF',
       'Workplace', 'Type_BIN', 'Operation'],
      dtype='object')
579237

In [ ]:
paradas_de_linha.describe()

       ProductionOrderId       Type_BIN
count       5.792370e+05  579237.000000
mean        9.771130e+06       0.852996
std         2.175692e+04       0.354110
min         9.514531e+06       0.000000
25%         9.753060e+06       1.000000
50%         9.770454e+06       1.000000
75%         9.788317e+06       1.000000
max         9.819169e+06       1.000000

In [ ]:
paradas_de_linha.head()

   ProductionOrderId            CallStartTime  ... Type_BIN            Operation
0            9701621  2020-01-18 13:09:21.110  ...        1  QCE_DEL.LDA1020_090
1            9701621  2020-01-20 05:11:51.987  ...        1     TRA_X08459_000.1
2            9701621  2020-01-20 05:11:56.570  ...        0             operator
3            9701621  2020-01-20 05:14:02.933  ...        0             operator
4            9701621  2020-01-20 06:29:43.377  ...        1  PCE_RASTR.MOTOR_000

[5 rows x 7 columns]

In [ ]:
# label encoding

from sklearn import preprocessing

labelEncoder = preprocessing.LabelEncoder()

paradas_de_linha['Workplace_Category'] = labelEncoder.fit_transform(paradas_de_linha['Workplace'])
paradas_de_linha['Operation_Category'] = labelEncoder.fit_transform(paradas_de_linha['Operation'])

paradas_de_linha.head()

   ProductionOrderId  ... Operation_Category
0            9701621  ...                512
1            9701621  ...               1353
2            9701621  ...               1601
3            9701621  ...               1601
4            9701621  ...                394

[5 rows x 9 columns]

In [ ]:
# One hot encoder

'''from sklearn.preprocessing import OneHotEncoder

oneHotEncoder = OneHotEncoder(categorical_features = [0])

x = oneHotEncoder.fit_transform(x).toarray()'''

'from sklearn.preprocessing import OneHotEncoder\n\noneHotEncoder = OneHotEncoder(categorical_features = [0])\n\nx = oneHotEncoder.fit_transform(x).toarray()'

# **Tratamento de timediff em segundos**

In [ ]:
time_diff_in_seconds_list = []
turno_da_parada_list = []
criticidade_da_parada_list = []
criticidade_da_parada_para_bater_meta = []

#call_start_year = []
#call_start_month = []
#call_start_day = []
#call_start_hour = []

#call_end_year = []
#call_end_month = []
#call_end_day = []
#call_end_hour = []

for index, row in paradas_de_linha.iterrows():
    if row['Time_DIFF'] is not None and row['Time_DIFF'] != "" and isinstance(row['Time_DIFF'], float) == False:
      time_diff = row['Time_DIFF']
      time_diff_in_seconds = (time_diff.hour * 60 + time_diff.minute) * 60 + time_diff.second
      
      time_diff_in_seconds_list.append(time_diff_in_seconds)

      call_start_hour = int(row['CallStartTime'][11:13])
      call_start_minute = int(row['CallStartTime'][14:16])
      
      call_end_hour = int(row['CallEndTime'][11:13])
      call_end_minute = int(row['CallEndTime'][14:16])

      turno = ''

      if call_start_hour >= 6 and call_start_minute >= 1 and call_start_hour <= 15 and call_start_minute <= 48:
        turno += 'PRIMEIRO'
      elif call_start_hour >= 1 and call_start_minute >= 10 and call_start_hour <= 6 and call_start_minute <= 0:
        turno += 'TERCEIRO'
      else:
        turno += 'SEGUNDO'

      if call_end_hour >= 6 and call_end_minute >= 1 and call_end_hour <= 15 and call_end_minute <= 48:
        if turno != 'PRIMEIRO':
          turno += '-PRIMEIRO'
      elif call_end_hour >= 1 and call_end_minute >= 10 and call_end_hour <= 6 and call_end_minute <= 0:
        if turno != 'TERCEIRO': 
          turno += '-TERCEIRO'
      else:
        if turno != 'SEGUNDO':
           turno += '-SEGUNDO'

      turno_da_parada_list.append(turno)

      criticidade = ''

      if time_diff_in_seconds >= 0 and time_diff_in_seconds <= 540:
        criticidade = 'BAIXA'
      elif time_diff_in_seconds >= 541 and time_diff_in_seconds <= 1140:
        criticidade = 'MEDIA'
      elif time_diff_in_seconds >= 1141 and time_diff_in_seconds <= 1740:
        criticidade = 'ALTA'
      elif time_diff_in_seconds >= 1741 and time_diff_in_seconds <= 2340:
        criticidade = 'ALTISSIMA'
      elif time_diff_in_seconds >= 2341:
        criticidade = 'DESASTRE'

      criticidade_da_parada_list.append(criticidade)

    else:
      time_diff_in_seconds_list.append(0)

      call_start_hour = int(row['CallStartTime'][11:13])
      call_start_minute = int(row['CallStartTime'][14:16])

      turno = ''

      if call_start_hour >= 6 and call_start_minute >= 1 and call_start_hour <= 15 and call_start_minute <= 48:
        turno = 'PRIMEIRO'
      elif call_start_hour >= 1 and call_start_minute >= 10 and call_start_hour <= 6 and call_start_minute <= 0:
        turno = 'TERCEIRO'
      else:
        turno = 'SEGUNDO'

      turno_da_parada_list.append(turno)

      criticidade_da_parada_list.append('BAIXA')

      #criticidade_da_parada_para_bater_meta.append('ALERTA_GERENTE_TURNO')

paradas_de_linha['TimeDiffSeconds'] = time_diff_in_seconds_list

paradas_de_linha['StopLineShift'] = turno_da_parada_list
paradas_de_linha['StopLineCriticality'] = criticidade_da_parada_list

# **Continuação após criação de time_diff_seconds**

In [ ]:
print(len(paradas_de_linha))
#paradas_de_linha = paradas_de_linha[paradas_de_linha['TimeDiffSeconds'] > 0]
print(len(paradas_de_linha))

579237
579237

In [ ]:
paradas_de_linha.columns

Index(['ProductionOrderId', 'CallStartTime', 'CallEndTime', 'Time_DIFF',
       'Workplace', 'Type_BIN', 'Operation', 'Workplace_Category',
       'Operation_Category', 'TimeDiffSeconds', 'StopLineShift',
       'StopLineCriticality'],
      dtype='object')

In [ ]:
paradas_de_linha.describe()

       ProductionOrderId       Type_BIN  ...  Operation_Category  TimeDiffSeconds
count       5.792370e+05  579237.000000  ...       579237.000000    579237.000000
mean        9.771130e+06       0.852996  ...          878.049845       115.948607
std         2.175692e+04       0.354110  ...          498.119769      1766.016207
min         9.514531e+06       0.000000  ...            0.000000         0.000000
25%         9.753060e+06       1.000000  ...          498.000000         3.000000
50%         9.770454e+06       1.000000  ...          698.000000         8.000000
75%         9.788317e+06       1.000000  ...         1344.000000        24.000000
max         9.819169e+06       1.000000  ...         1601.000000     86391.000000

[8 rows x 5 columns]

In [ ]:
paradas_de_linha = paradas_de_linha.drop(columns=['CallStartTime', 'CallEndTime', 'Time_DIFF'])

print(paradas_de_linha.columns)

Index(['ProductionOrderId', 'Workplace', 'Type_BIN', 'Operation',
       'Workplace_Category', 'Operation_Category', 'TimeDiffSeconds',
       'StopLineShift', 'StopLineCriticality'],
      dtype='object')

In [ ]:
paradas_de_linha

        ProductionOrderId          Workplace  ...  StopLineShift StopLineCriticality
0                 9701621  WPB_S020_3_LDA001  ...       PRIMEIRO               BAIXA
1                 9701621  WPA_S005_0_TL1001  ...        SEGUNDO               BAIXA
2                 9701621  WPA_S005_0_TL1001  ...        SEGUNDO               BAIXA
3                 9701621  WPA_S005_0_TL1001  ...        SEGUNDO               BAIXA
4                 9701621  WPA_SQ01_3_AGF002  ...       PRIMEIRO               BAIXA
...                   ...                ...  ...            ...                 ...
579232            9813990  WPA_SQ02_2_CH3001  ...        SEGUNDO               BAIXA
579233            9813990  WPA_SQ02_2_CH3001  ...        SEGUNDO               BAIXA
579234            9813990  WPA_SQ03_3_CH3001  ...        SEGUNDO               BAIXA
579235            9813990  WPA_SQ03_3_CH3001  ...        SEGUNDO               BAIXA
579236            9813990  WPA_S013_7_DOR001  ...        SEGUNDO               BAIXA

[579237 rows x 9 columns]

In [ ]:
print(len(paradas_de_linha))

579237

In [ ]:
paradas_de_linha.describe()

       ProductionOrderId       Type_BIN  ...  Operation_Category  TimeDiffSeconds
count       5.792370e+05  579237.000000  ...       579237.000000    579237.000000
mean        9.771130e+06       0.852996  ...          878.049845       115.948607
std         2.175692e+04       0.354110  ...          498.119769      1766.016207
min         9.514531e+06       0.000000  ...            0.000000         0.000000
25%         9.753060e+06       1.000000  ...          498.000000         3.000000
50%         9.770454e+06       1.000000  ...          698.000000         8.000000
75%         9.788317e+06       1.000000  ...         1344.000000        24.000000
max         9.819169e+06       1.000000  ...         1601.000000     86391.000000

[8 rows x 5 columns]

In [ ]:
paradas_de_linha['StopLineShift_Category'] = labelEncoder.fit_transform(paradas_de_linha['StopLineShift'])
paradas_de_linha['StopLineCriticality_Category'] = labelEncoder.fit_transform(paradas_de_linha['StopLineCriticality'])
paradas_de_linha['Chassir_Category'] = labelEncoder.fit_transform(paradas_de_linha['ProductionOrderId'])

paradas_de_linha.head()

   ProductionOrderId  ... Chassir_Category
0            9701621  ...               37
1            9701621  ...               37
2            9701621  ...               37
3            9701621  ...               37
4            9701621  ...               37

[5 rows x 12 columns]

# **Converting TimeDiffSeconds in Bins**

In [ ]:
time_diff_seconds_df = paradas_de_linha['TimeDiffSeconds']
time_diff_seconds_df.sort_values(ascending=True)

width_of_intervals = 15
count_label = 0

# distribuição de frequências de 15 em 15 segundos
bins = [0, 10, 20, 30, 45, 60, 90, 120, 180, 360, 720, 1440, time_diff_seconds_df.max()]

labels = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
# labels.append(count_label)

# Menor valor da série
minimum = time_diff_seconds_df.min()

current_value = minimum
# bins.append(current_value)

'''while current_value < time_diff_seconds_df.max():
    current_value += width_of_intervals
    bins.append(current_value)
    count_label += 1
    labels.append(count_label)'''
    
# labels = labels[0:labels[len(labels)-1]]

paradas_de_linha['Time_diff_seconds_bins'] = pd.cut(time_diff_seconds_df, bins=bins, labels=labels, include_lowest=True)

In [ ]:
paradas_de_linha.head()

   ProductionOrderId  ... Time_diff_seconds_bins
0            9701621  ...                      0
1            9701621  ...                      0
2            9701621  ...                      7
3            9701621  ...                      3
4            9701621  ...                      0

[5 rows x 13 columns]

# **Machine Learning**

In [ ]:
#choosing features for model
paradas_de_linha_feature_data = paradas_de_linha[["Chassir_Category", "Type_BIN", "Workplace_Category", "Operation_Category",
                                                  "Time_diff_seconds_bins", "StopLineShift_Category", "StopLineCriticality_Category"]]

In [ ]:
#paradas_de_linha_feature_data.to_csv('paradas_de_linha_formatted_data.csv', index=False)

In [ ]:
'''paradas_de_linha_feature_data = paradas_de_linha[["Chassir_Category", "Type_BIN", "Workplace_Category", "Operation_Category",
                                                  "Time_diff_seconds_bins", "StopLineShift_Category", "StopLineCriticality_Category", "TimeDiffSeconds"]]'''

'paradas_de_linha_feature_data = paradas_de_linha[["Chassir_Category", "Type_BIN", "Workplace_Category", "Operation_Category",\n                                                  "Time_diff_seconds_bins", "StopLineShift_Category", "StopLineCriticality_Category", "TimeDiffSeconds"]]'

In [ ]:
paradas_de_linha_feature_data.head()

   Chassir_Category  ...  StopLineCriticality_Category
0                37  ...                             2
1                37  ...                             2
2                37  ...                             2
3                37  ...                             2
4                37  ...                             2

[5 rows x 7 columns]

In [ ]:
import collections

column_collection = collections.Counter(paradas_de_linha_feature_data['Time_diff_seconds_bins'])
quantity = column_collection.most_common()
print(quantity)

[(0, 326628), (1, 87245), (2, 45963), (3, 38414), (4, 26615), (5, 19298), (6, 8070), (9, 7832), (7, 6451), (8, 5903), (11, 4408), (10, 2410)]

In [ ]:
df_classe_0 = paradas_de_linha_feature_data[paradas_de_linha_feature_data['Time_diff_seconds_bins'] == 0].sample(n=2410)
df_classe_1 = paradas_de_linha_feature_data[paradas_de_linha_feature_data['Time_diff_seconds_bins'] == 1].sample(n=2410)
df_classe_2 = paradas_de_linha_feature_data[paradas_de_linha_feature_data['Time_diff_seconds_bins'] == 2].sample(n=2410)
df_classe_3 = paradas_de_linha_feature_data[paradas_de_linha_feature_data['Time_diff_seconds_bins'] == 3].sample(n=2410)
df_classe_4 = paradas_de_linha_feature_data[paradas_de_linha_feature_data['Time_diff_seconds_bins'] == 4].sample(n=2410)
df_classe_5 = paradas_de_linha_feature_data[paradas_de_linha_feature_data['Time_diff_seconds_bins'] == 5].sample(n=2410)
df_classe_6 = paradas_de_linha_feature_data[paradas_de_linha_feature_data['Time_diff_seconds_bins'] == 6].sample(n=2410)
df_classe_7 = paradas_de_linha_feature_data[paradas_de_linha_feature_data['Time_diff_seconds_bins'] == 7].sample(n=2410)
df_classe_8 = paradas_de_linha_feature_data[paradas_de_linha_feature_data['Time_diff_seconds_bins'] == 8].sample(n=2410)
df_classe_9 = paradas_de_linha_feature_data[paradas_de_linha_feature_data['Time_diff_seconds_bins'] == 9].sample(n=2410)
df_classe_10 = paradas_de_linha_feature_data[paradas_de_linha_feature_data['Time_diff_seconds_bins'] == 10].sample(n=2410)
df_classe_11 = paradas_de_linha_feature_data[paradas_de_linha_feature_data['Time_diff_seconds_bins'] == 11].sample(n=2410)

In [ ]:
#importing train_test_split
from sklearn.model_selection import train_test_split

train_set, temp_test_set = train_test_split(paradas_de_linha_feature_data, test_size = 0.04)

test_set, validation_set = train_test_split(temp_test_set, test_size = 0.5)

#creating train and test set
train_set_class_0, test_set_class_0_temp = train_test_split(df_classe_0, test_size = 0.3)
#test_set_class_0, validation_set_class_0 = train_test_split(test_set_class_0_temp, test_size = 0.5)

train_set_class_1, test_set_class_1_temp = train_test_split(df_classe_1, test_size = 0.3)
#test_set_class_1, validation_set_class_1 = train_test_split(test_set_class_1_temp, test_size = 0.5)

train_set_class_2, test_set_class_2_temp = train_test_split(df_classe_2, test_size = 0.3)
#test_set_class_2, validation_set_class_2 = train_test_split(test_set_class_2_temp, test_size = 0.5)

train_set_class_3, test_set_class_3_temp = train_test_split(df_classe_3, test_size = 0.3)
#test_set_class_3, validation_set_class_3 = train_test_split(test_set_class_3_temp, test_size = 0.5)

train_set_class_4, test_set_class_4_temp = train_test_split(df_classe_4, test_size = 0.3)
#test_set_class_4, validation_set_class_4 = train_test_split(test_set_class_4_temp, test_size = 0.5)

train_set_class_5, test_set_class_5_temp = train_test_split(df_classe_5, test_size = 0.3)
#test_set_class_5, validation_set_class_5 = train_test_split(test_set_class_5_temp, test_size = 0.5)

train_set_class_6, test_set_class_6_temp = train_test_split(df_classe_6, test_size = 0.3)
#test_set_class_6, validation_set_class_6 = train_test_split(test_set_class_6_temp, test_size = 0.5)

train_set_class_7, test_set_class_7_temp = train_test_split(df_classe_7, test_size = 0.3)
#test_set_class_7, validation_set_class_7 = train_test_split(test_set_class_7_temp, test_size = 0.5)

train_set_class_8, test_set_class_8_temp = train_test_split(df_classe_8, test_size = 0.3)
#test_set_class_8, validation_set_class_8 = train_test_split(test_set_class_8_temp, test_size = 0.5)

train_set_class_9, test_set_class_9_temp = train_test_split(df_classe_9, test_size = 0.3)
#test_set_class_9, validation_set_class_9 = train_test_split(test_set_class_9_temp, test_size = 0.5)

train_set_class_10, test_set_class_10_temp = train_test_split(df_classe_10, test_size = 0.3)
#test_set_class_10, validation_set_class_10 = train_test_split(test_set_class_10_temp, test_size = 0.5)

train_set_class_11, test_set_class_11_temp = train_test_split(df_classe_11, test_size = 0.3)
#test_set_class_11, validation_set_class_11 = train_test_split(test_set_class_11_temp, test_size = 0.5)

df_paradas_de_linha_join_classes_train = pd.concat([train_set_class_0, train_set_class_1, train_set_class_2, train_set_class_3, train_set_class_4, train_set_class_5, train_set_class_6, train_set_class_7, train_set_class_8, train_set_class_9, train_set_class_10, train_set_class_11], axis = 0)
df_paradas_de_linha_join_classes_test = pd.concat([test_set_class_0_temp, test_set_class_1_temp, test_set_class_2_temp, test_set_class_3_temp, test_set_class_4_temp, test_set_class_5_temp, test_set_class_6_temp, test_set_class_7_temp, test_set_class_8_temp, test_set_class_9_temp, test_set_class_10_temp, test_set_class_11_temp], axis = 0)
# df_paradas_de_linha_join_classes_validation = pd.concat([validation_set_class_0, validation_set_class_1, validation_set_class_2, validation_set_class_3, validation_set_class_4, validation_set_class_5, validation_set_class_6, validation_set_class_7, validation_set_class_8, validation_set_class_9, validation_set_class_10, validation_set_class_11], axis = 0)

#shape of the train and test set
df_paradas_de_linha_join_classes_train.shape, df_paradas_de_linha_join_classes_test.shape

((20244, 7), (8676, 7))

In [ ]:
final_features = paradas_de_linha_feature_data.columns.drop("Time_diff_seconds_bins")
target = ["Time_diff_seconds_bins"]

# **Random Forest**

In [ ]:
from sklearn.ensemble import RandomForestClassifier

Xtrain = df_paradas_de_linha_join_classes_train[final_features]
Ytrain = df_paradas_de_linha_join_classes_train[target]
Xtest = df_paradas_de_linha_join_classes_test[final_features]
Ytest = df_paradas_de_linha_join_classes_test[target]

In [ ]:
model_random_forest = RandomForestClassifier(n_estimators=200, max_features=6, min_samples_leaf=10, n_jobs=-1, criterion='gini')
model_random_forest.fit(Xtrain, Ytrain.values.ravel())

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features=6,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=12, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=200,
                       n_jobs=-1, oob_score=False, random_state=None, verbose=0,
                       warm_start=False)

In [ ]:
duration_time_predict = model_random_forest.predict(Xtest)
print(duration_time_predict)

[ 0  0  1 ... 11 11 11]

In [ ]:
from sklearn import metrics
print(metrics.accuracy_score(Ytest, duration_time_predict))

0.367911479944675

In [ ]:
print(metrics.classification_report(duration_time_predict, Ytest))

              precision    recall  f1-score   support

           0       0.53      0.31      0.39      1255
           1       0.18      0.18      0.18       717
           2       0.14      0.18      0.16       573
           3       0.17      0.20      0.18       608
           4       0.25      0.25      0.25       710
           5       0.14      0.17      0.15       606
           6       0.17      0.21      0.19       583
           7       0.16      0.18      0.17       612
           8       0.42      0.31      0.35       990
           9       0.46      0.70      0.56       481
          10       0.82      0.71      0.76       843
          11       0.97      1.00      0.98       698

    accuracy                           0.37      8676
   macro avg       0.37      0.37      0.36      8676
weighted avg       0.40      0.37      0.37      8676

# **MLP**

In [ ]:
train_set, temp_test_set = train_test_split(paradas_de_linha_feature_data, test_size = 0.04)

test_set, validation_set = train_test_split(temp_test_set, test_size = 0.5)

In [ ]:
from sklearn.ensemble import RandomForestClassifier

Xtrain = train_set[final_features]
Ytrain = train_set[target]
Xtest = test_set[final_features]
Ytest = test_set[target]